In [137]:
import pandas as pd

In [138]:
df_ratings = pd.read_csv("../data/ml-latest-small/ratings.csv")

In [139]:
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
5            1       70     3.0   964982400
6            1      101     5.0   964980868
7            1      110     4.0   964982176
8            1      151     5.0   964984041
9            1      157     5.0   964984100
10           1      163     5.0   964983650
11           1      216     5.0   964981208
12           1      223     3.0   964980985
13           1      231     5.0   964981179
14           1      235     4.0   964980908
15           1      260     5.0   964981680
16           1      296     3.0   964982967
17           1      316     3.0   964982310
18           1      333     5.0   964981179
19           1      349     4.0   964982563
20           1      356     4.0   964980962
21           1      362     5.0   964982588
22           1      367     4.0   964981710
23           1      423     3.0   964982363
24           1      441     4.0   964980868
25           1      457     5.0   964981909
26           1      480     4.0   964982346
27           1      500     3.0   964981208
28           1      527     5.0   964984002
29           1      543     4.0   964981179
...        ...      ...     ...         ...
100806     610   150401     3.0  1479543210
100807     610   152077     4.0  1493845817
100808     610   152081     4.0  1493846503
100809     610   152372     3.5  1493848841
100810     610   155064     3.5  1493848456
100811     610   156371     5.0  1479542831
100812     610   156726     4.5  1493848444
100813     610   157296     4.0  1493846563
100814     610   158238     5.0  1479545219
100815     610   158721     3.5  1479542491
100816     610   158872     3.5  1493848024
100817     610   158956     3.0  1493848947
100818     610   159093     3.0  1493847704
100819     610   160080     3.0  1493848031
100820     610   160341     2.5  1479545749
100821     610   160527     4.5  1479544998
100822     610   160571     3.0  1493848537
100823     610   160836     3.0  1493844794
100824     610   161582     4.0  1493847759
100825     610   161634     4.0  1493848362
100826     610   162350     3.5  1493849971
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155
100829     610   164179     5.0  1493845631
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

# Preprocess

In [140]:
df_ratings = df_ratings.groupby(["userId"]).agg({
    'movieId':lambda x : list(x),
    'rating':lambda x : list(x)
}).reset_index()

In [141]:
df_ratings.head()

,userId,movieId,rating
0,1,"[1, 3, 6, 47, 50, 70, 101, 110, 151, 157, 163,...","[4.0, 4.0, 4.0, 5.0, 5.0, 3.0, 5.0, 4.0, 5.0, ..."
1,2,"[318, 333, 1704, 3578, 6874, 8798, 46970, 4851...","[3.0, 4.0, 4.5, 4.0, 4.0, 3.5, 4.0, 4.0, 4.5, ..."
2,3,"[31, 527, 647, 688, 720, 849, 914, 1093, 1124,...","[0.5, 0.5, 0.5, 0.5, 0.5, 5.0, 0.5, 0.5, 0.5, ..."
3,4,"[21, 32, 45, 47, 52, 58, 106, 125, 126, 162, 1...","[3.0, 2.0, 3.0, 2.0, 3.0, 3.0, 4.0, 5.0, 1.0, ..."
4,5,"[1, 21, 34, 36, 39, 50, 58, 110, 150, 153, 232...","[4.0, 4.0, 4.0, 4.0, 3.0, 4.0, 5.0, 4.0, 3.0, ..."

# Suggest movie for a single user

In [190]:
def get_list_movie(uid, df):
    cur_df = df[df["userId"] == uid]
    movies = list(cur_df["movieId"])[0]
    rating = list(cur_df["rating"])[0]
    return movies, rating


def get_same_movies(movies1, movies2):
    movies1 = set(movies1)
    result = []
    for x in movies2:
        if x in movies1:
            result.append(x)
    return result


def build_dict_rating(movies, ratings):
    result = dict()
    for i, val in enumerate(movies):
        result[val] = ratings[i]
    return result


def calc_mean_rating(ratings):
    return sum(ratings) / len(ratings)


def calc_similarity(u_uid, df):
    u_movies, u_ratings = get_list_movie(u_uid, df)
    u_rating_dict = build_dict_rating(u_movies, u_ratings)
    u_mean_rating = calc_mean_rating(u_ratings)
    
    for row in df.iterrows():
        if row[1]["userId"] != u_uid:
            v_uid = row[1]["userId"]
            v_movies, v_ratings = get_list_movie(v_uid, df)
            v_rating_dict = build_dict_rating(v_movies, v_ratings)
            v_mean_rating = calc_mean_rating(v_ratings)
            
            same_movies = get_same_movies(u_movies, v_movies)
            
            if len(same_movies) <= 0:
                continue
            
            up_value = 0
            for m in same_movies:
                up_value += (u_rating_dict[m] - u_mean_rating) * (v_rating_dict[m] - v_mean_rating)
                
            down_value1 = 0
            for m in same_movies:
                down_value1 += (u_rating_dict[m] - u_mean_rating)**2
            down_value1 = down_value1**0.5
            
            down_value2 = 0
            for m in same_movies:
                down_value2 += (v_rating_dict[m] - v_mean_rating)**2
            down_value2 = down_value2**0.5
            
            if down_value1 * down_value2 == 0:
                continue
            
            similarity_value = up_value / (down_value1 * down_value2)

            yield similarity_value, len(same_movies), row[1]
            
def suggest_new_movie(u_uid, df, top_k=50):
    similarities = list(x for x in calc_similarity(u_uid, df_ratings) if x[0] > 0)
    similarities = sorted(similarities, key=lambda x:x[0], reverse=True)
    
    all_movies = set()
    for val in similarities[0, top_k]:
        all_movies.add(val[2]["movieId"])
    
    return all_movies

In [191]:
top_similarities = suggest_new_movie(1, df_ratings)

TypeError: list indices must be integers or slices, not tuple

In [178]:
for i, val in enumerate(top_similarities):
    if i < 10:
        print(val)
    else:
        break

userId                                                    77
movieId    [260, 1196, 1198, 1210, 2571, 3578, 3948, 3996...
rating     [5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 3.0, 5.0, 2.5, ...
Name: 76, dtype: object
userId                                                    12
movieId    [39, 168, 222, 256, 261, 277, 357, 543, 830, 8...
rating     [4.0, 5.0, 5.0, 5.0, 4.5, 3.0, 3.5, 3.5, 4.0, ...
Name: 11, dtype: object
userId                                                    85
movieId    [53, 314, 515, 527, 538, 1140, 1183, 1185, 120...
rating     [5.0, 5.0, 4.0, 5.0, 4.0, 5.0, 4.0, 5.0, 5.0, ...
Name: 84, dtype: object
userId                                                   253
movieId    [29, 446, 608, 714, 916, 926, 955, 965, 1192, ...
rating     [4.5, 5.0, 5.0, 4.5, 2.5, 4.5, 4.5, 3.5, 4.0, ...
Name: 252, dtype: object
userId                                                   291
movieId    [1, 4896, 4993, 5218, 5816, 7153, 8368, 40815,...
rating     [4.0, 5.0, 3.0, 4.0, 5.0, 3.0, 5.0, 5.0, 5.0, ...
Name: 290, dtype: object
userId                                                   358
movieId    [605, 902, 1721, 2144, 2226, 2338, 2396, 2572,...
rating     [3.0, 4.0, 5.0, 3.0, 1.0, 1.0, 4.0, 4.0, 4.0, ...
Name: 357, dtype: object
userId                                                   388
movieId    [575, 631, 745, 1197, 1203, 1703, 2346, 4039, ...
rating     [2.0, 1.0, 2.5, 4.0, 1.0, 4.0, 2.0, 3.0, 5.0, ...
Name: 387, dtype: object
userId                                                     2
movieId    [318, 333, 1704, 3578, 6874, 8798, 46970, 4851...
rating     [3.0, 4.0, 4.5, 4.0, 4.0, 3.5, 4.0, 4.0, 4.5, ...
Name: 1, dtype: object
userId                                                   146
movieId    [32, 344, 410, 502, 765, 830, 880, 1367, 1411,...
rating     [5.0, 2.0, 3.5, 2.5, 3.0, 4.0, 2.0, 3.0, 3.0, ...
Name: 145, dtype: object
userId                                                   278
movieId    [50, 203, 318, 527, 880, 1347, 1635, 2109, 214...
rating     [5.0, 4.0, 5.0, 5.0, 3.5, 3.0, 5.0, 1.5, 3.5, ...
Name: 277, dtype: object